<div class="container-fluid">
		<img src="app/assets/images/aboutus.png" alt="aboutus" class="img-responsive aboutusimage">
	
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 aboutuspadding">
			<h3 class="text-center">About US</h3><br/>
			<span>We are Xoom Trainings - Experts in providing top-notch training solutions.</span>
			<span>We deliver quality training solutions for our customers across the globe. Ever since the establishment of our organization in the year 2004, we have been working towards making training much more accessible to one and all. We have always been at the forefront in providing customized training solutions so as to help the learners get what they really yearn for. We, with our team of experts, have already set a strong foothold in the IT Trainings and are regarded to be the best in the industry in providing a plethora of training solutions.</span>
			<h5>Why zero in on us for IT Training Solutions?</h5>
			<span>We have unprecedented expertise in providing training in courses related to Microsoft, Oracle, SAP, SAS, Java, Hadoop, TIBCO, Testing Tools or other specialised courses as per the requirements of our clients. We always stress on delivering remarkably the best training solutions for our customers.</span>
			<span>Our training solutions rightly expresses our unmatchable finesse which we have accrue, providing the training all these years for our global customers. </span>
			<h5>Team @ Xoom Trainings</h5>
			<span>We have a team of tech-savvy professionals, trainers who are incomparably talented in providing the training (in accordance to the modernized pedagogical approach). Our experts are vibrantly au fait at making learning a wonderful experience through a combination of the object-oriented training strategies and innovational methodologies of problem-solving attitude.</span>
			<h5>Yearning for quality-based, affordable training solutions? </h5>
			<span>Rooting out the barriers from your way to success by providing you effective training solutions. Just get on with wonderful learning experience only at XoomTrainings.com. </span>
			<span>If you are the one who is on the lookout for quality training then it is quintessential that you should get in touch with us. Just get in touch with us to know more about us. Give us a call or request a callback from one of team experts today..</span>

		</div>
	</div>
</div>
