
<div class="container-fluid courses-wrap">
    <div class="container">
        <div class="row">
            <!--detail-left starts-->
            <div class="col-md-3 detail-left">
                <div class="recommended-each">
                    <a href="#">
                        <img ng-src="{{courseUrl}}" alt="sap course">
                        <div class="course-title"><a href="#">{{litecoursename}}</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ {{liteusprice}} | Rs {{litecourseprice}}</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">{{liteduration}} Hours</div>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>{{litelearners}} Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>

                <div class="clearfix">&nbsp;</div>

                <ul>
                    <li><a href="#">about the course</a></li>
                    <li><a href="#">curriculum</a></li>
                    <li><a href="#">faq's</a></li>
                    <li><a href="#">certifications</a></li>
                    <li><a href="#">sample class recording</a></li>
                    <li><a href="#">Upcoming batches</a></li>
                    <li><a href="#">blogs</a></li>
                </ul>

                <h2>popular courses</h2>
                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--detail left ends-->
            <!--detail main starts-->
            <div class="col-md-6 no-pad">
                <div class="detail-main">
                    <h1>{{coursename}}</h1>
                    <p>{{coursedescp}}</p>
                    <button class="btn sample-record">
                        Watch sample class recording &nbsp;&nbsp;<a href="#"><i class="fa fa-play"></i></a>
                    </button>
                    <h3>Upcoming Batches:</h3>
                    <ul class="clearfix upcoming-boxes">
                        <li class="col-md-3">STARTS</li>
                        <li class="col-md-3">DURATION</li>
                        <li class="col-md-3">DAYS</li>
                        <li class="col-md-3">TIME (IST)</li>
                        <li class="col-md-3">{{coursestartdate | date:'dd-MMM-yyyy'}}</li>
                        <li class="col-md-3">{{courseduration}}</li>
                        <li class="col-md-3">{{coursedays}}</li>
                        <li class="col-md-3">{{coursetiming}}</li>
                    </ul>
                    <div class="col-md-12 text-center"><button class="btn btn-primary">Enroll</button></div>
                    <div class="clearfix"></div>
                </div><!--detail-main ends-->
                <!--detail tabs starts-->
                <div class="col-md-12 no-pad detail-tabs">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_1" data-toggle="tab">
                                        about the course
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_2" data-toggle="tab">
                                        curriculum
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_3" data-toggle="tab">
                                        faq's
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_4" data-toggle="tab">
                                        certification
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <p>{{aboutcourse}}</p>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <p>{{curriculum}}</p>
                                </div>
                                <div class="tab-pane" id="tab_3">
                                    <div class="col-md-12 no-pad">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel" ng-repeat="item in courseDetail">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" class="collapsed">
                                                            {{item.question}}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{$index}}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p>{{item.answer}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_4">
                                    <p>Tab 4.</p>
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--detail tabs ends-->
            </div>


            <div class="col-md-3 detail-left">
                <div class="panel-group" id="accordion">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Online Classes: 30 Hrs</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="list-group">
                                <a href="" class="list-group-item">
                                    <h4 class="list-group-item-heading">List group item heading</h4>
                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <h2>recommended courses</h2>
                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="recommended-each">
                    <a href="#">
                        <img src="app/assets/images/sap.png" alt="sap course">
                        <div class="course-title"><a href="#">Sap</a></div>
                        <div class="clearfix course-counts">
                            <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
                            <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
                        </div>
                        <div class="clearfix enrollbtn-wrap">
                            <button class="btn enrollNow">Enroll Now</button>
                        </div>
                        <div class="clearfix course-bottom">
                            <div class="col-md-6 learners-count"><span>500 Learners</div>
                            <div class="col-md-6 course-rating">
                                <img src="app/assets/images/rating.png"
                                     class="img-responsive" alt="rating">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
