<div class="container-fluid">
	<div class="container">
		<div class="row access-popup">
			<div class="col-md-12">
				<div ng-class="msgClass" role="alert" ng-show="accountShow">{{alertMsg}}</div>
			</div>
			<div class="col-md-12">
				<p>Please enter your registered email address</p>
			</div>
			<div class="col-md-4">
				<input type="text" name="emailaddress" maxlength="50" class="form-control" ng-model="emailaddress" placeholder="Email Address" />
			</div>
			<div class="col-md-2 text-left">
				<button class="form-control btn btns">Submit</button>
			</div>
		</div>
	</div>
</div>