<div class="container-fluid">
	<div class="container">
		<div class="row access-popup">
			<div class="col-md-12">
				<alert values="alertPassword" ng-show="alertPassword.alertDisplay"></alert>
			</div>
			<div class="col-md-12">
				<p>Please enter your registered email address</p>
			</div>
			<div class="col-md-4">
				<input type="text" name="emailaddress" maxlength="50" class="form-control" ng-model="emailaddress" placeholder="Email Address" />
			</div>
			<div class="col-md-2 text-left">
				<button class="form-control btn btns" ng-click="sendEmail();">Submit</button>
			</div>
		</div>
	</div>
</div>