
<div class="container-fluid courses-wrap">
<div class="container">
  <div class="row">
    <div class="col-md-3 courses-left">
	  <div class="courses-head"><img src="app/assets/images/.png">all courses</div>
	  <ul>
	    <li><a href="#"><img src="app/assets/images/new.png">New</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
	  </ul>
	  <div class="clearfix">&nbsp;</div>
	  <ul>
	    <li><a href="#"><img src="app/assets/images/new.png">New</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
		<li><a href="#"><img src="app/assets/images/new.png">Upcoming Courses</a></li>
	  </ul>
	</div>
	
	
	<div class="col-md-9">
	  <div class="row">
	    <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div> 
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		
		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>	 

		 <div class="col-md-4">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>		
	  </div>
	</div>
  </div>
</div>
</div>
