<div class="container-fluid ">
	<div class="container">
		<div class="row spacing">
			<div class="col-md-12 text-left">
				<ol class="breadcrumb breadcrumbs">
					<li><a href="#">Home</a></li>
					<li class="active"><a href="#">Courses</a></li>

				</ol>
			</div>
			<div class="col-md-12 text-right">
				<div class="row">
					<div class="col-md-4">
						<p class="searchbox">lorem Ipsum Rpasum content </p>
					</div>
					<div class="col-md-8">
						<input type="text-right" placeholder="Search" class="search" />
						<i class="fa fa-search searchicon"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 courses-left">
				<div class="courses-head">Courses</div>
				<ul>
					<li><a href="#">All</a></li>
					<li><a href="#">Sap</a></li>
					<li><a href="#">Oracle</a></li>
					<li><a href="#">Pega</a></li>
					<li><a href="#">Big Data</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Microsoft</a></li>
					<li><a href="#">DataBase</a></li>
					<li><a href="#">Testing Tools</a></li>
					<li><a href="#">Mobile Applications</a></li>
					<li><a href="#">Other Courses</a></li>

				</ul>
			</div>

			<div class="col-md-10">				
				<div class="row">
					<div class="col-md-3">
						<div class="recommended-each">
							<img src="app/assets/images/pega.png" class="img-responsive">

							<div class="course-title">
								<a href="#">SAP</a>
							</div>
							<div class="coursedetails">
								<div class="col-md-11 overlaycourses">
									Online Classes: 30 Hrs<br/>
									Assignments: 25 Hrs<br/>
									Project: 20 Hrs<br/>
									Lifetime Access<br/>
								</div>
								<div class="clearfix course-counts">
									<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
									<div class="col-md-5 hours">
										<img src="app/assets/images/hours.png" alt="hours">24 Hours
									</div>
								</div>
								<div class="clearfix course-bottom">
									<div class="col-md-6 learners-count">
										<span>500 Learners</span>
									</div>
									<div class="col-md-6 course-rating">
										<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
									</div>
								</div>
							</div>
						</div>
					</div><div class="col-md-3">
					<div class="recommended-each">
						<img src="app/assets/images/pega.png" class="img-responsive">

						<div class="course-title">
							<a href="#">SAP</a>
						</div>
						<div class="coursedetails">
							<div class="col-md-11 overlaycourses">
								Online Classes: 30 Hrs<br/>
								Assignments: 25 Hrs<br/>
								Project: 20 Hrs<br/>
								Lifetime Access<br/>
							</div>
							<div class="clearfix course-counts">
								<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
								<div class="col-md-5 hours">
									<img src="app/assets/images/hours.png" alt="hours">24 Hours
								</div>
							</div>
							<div class="clearfix course-bottom">
								<div class="col-md-6 learners-count">
									<span>500 Learners</span>
								</div>
								<div class="col-md-6 course-rating">
									<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
								</div>
							</div>
						</div>
					</div>
				</div><div class="col-md-3">
				<div class="recommended-each">
					<img src="app/assets/images/pega.png" class="img-responsive">

					<div class="course-title">
						<a href="#">SAP</a>
					</div>
					<div class="coursedetails">
						<div class="col-md-11 overlaycourses">
							Online Classes: 30 Hrs<br/>
							Assignments: 25 Hrs<br/>
							Project: 20 Hrs<br/>
							Lifetime Access<br/>
						</div>
						<div class="clearfix course-counts">
							<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
							<div class="col-md-5 hours">
								<img src="app/assets/images/hours.png" alt="hours">24 Hours
							</div>
						</div>
						<div class="clearfix course-bottom">
							<div class="col-md-6 learners-count">
								<span>500 Learners</span>
							</div>
							<div class="col-md-6 course-rating">
								<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
							</div>
						</div>
					</div>
				</div>
			</div><div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="recommended-each">
				<img src="app/assets/images/pega.png" class="img-responsive">

				<div class="course-title">
					<a href="#">SAP</a>
				</div>
				<div class="coursedetails">
					<div class="col-md-11 overlaycourses">
						Online Classes: 30 Hrs<br/>
						Assignments: 25 Hrs<br/>
						Project: 20 Hrs<br/>
						Lifetime Access<br/>
					</div>
					<div class="clearfix course-counts">
						<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						<div class="col-md-5 hours">
							<img src="app/assets/images/hours.png" alt="hours">24 Hours
						</div>
					</div>
					<div class="clearfix course-bottom">
						<div class="col-md-6 learners-count">
							<span>500 Learners</span>
						</div>
						<div class="col-md-6 course-rating">
							<img src="app/assets/images/rating.png"class="img-responsive" alt="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>


