
/** DEFAULT VARIABLES***/

@basezero:0; 
@PrimaryBgClr:#1c5c9c; 

/***** GENERIC ***/

body{margin:@basezero;padding:@basezero;font-family: 'Open Sans', sans-serif;}
*{outline:none}
a:hover{text-decoration:none}
h2{color:@PrimaryBgClr;text-transform:uppercase;text-align:center;font-weight:600;
font-size:20px;margin:25px 0;}

/************* HEADER STYLES *******************/

.logo{}

.header{padding-top:7px;padding-bottom:7px}
.header ul{margin:0;padding:0;float:right;padding-top:20px;}
.header ul li{float:left;list-style-type:none;margin-left:10px;}
.header ul li a{color:@PrimaryBgClr;text-transform:uppercase;font-size:14px;padding-right:10px}
.header ul li a:hover{text-decoration:none}
.header ul li a img{max-width:15px}

.menu-wrap{background:@PrimaryBgClr;}
.menu-wrap .navbar{margin-bottom:0}
.menu-wrap .navbar .navbar-nav li a{padding-left:0;color:#fff;text-transform:uppercase;}
.menu-wrap .navbar .navbar-nav li a:hover{background:none}
.menu-wrap .navbar .navbar-nav li a img{margin-right:10px}


/********* HOEM STYLES *********/

.home-banner{padding:@basezero}
.home-banner img{width:100%;}
.home-quote{background:#f2f2f2;padding-top:10px;padding-bottom:10px;text-align:center;}
.freedemo-btn{-webkit-border-top-right-radius: 10px;font-size:20px;min-width:200px;
-webkit-border-bottom-left-radius: 10px;-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;border-top-right-radius: 10px;
border-bottom-left-radius: 10px;background:#ff9400;color:#fff;text-transform:uppercase;}
.freedemo-btn:hover{color:#fff;}

.recommended .carousel-control {height: 40px;width: 40px;margin-top:130px;}
.recommended .carousel-control.right{right:-30px;background:none;opacity:1}
.recommended .carousel-control.left {left:-29px;background:none;opacity:1}

.recommended-each{border:1px solid #d2d2d2;padding:@basezero;margin-bottom:20px}
.recommended-each:hover{background:#f8f8f8}
.recommended-each a img{width:100%}
.course-title{text-align:center;padding-top:10px;padding-bottom:10px;}
.course-title a{text-transform:uppercase;font-weight:600;color:@PrimaryBgClr;font-size:18px;}
.course-title a:hover{text-decoration:none}

.course-counts{padding-bottom:10px;padding-top:10px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2}
.greenText{color:#47ba3f;font-size:13px;padding-right:0;padding-left:10px;}
.hours{color:#585858;font-size:13px;padding-right:0;padding-left:10px;}
.hours img{margin-right:5px;max-width:20px;}
.enrollbtn-wrap{padding-bottom:10px;padding-top:10px;border-bottom:1px solid #d2d2d2;text-align:center}
.enrollNow{border-radius:0px;background:#dbdbdb;color:#585858}
.learners-count{color:#585858;}
.course-bottom{padding-bottom:10px;padding-top:10px;}
.browseall{background:url(../../assets/images/browse.png) repeat-x;padding:10px;color:#fff;
text-transform:uppercase;text-align:center;margin:0 auto;width:50%;margin-bottom:20px}
.browseall a{color:#fff;}

.features-wrap{background:#f2f2f2;padding:20px 0 10px 0px;text-align:center;}
.features-wrap img{max-width:80px;}
.features-wrap h3{color:#585858;font-size:18px;font-weight:700;}
.features-wrap p{color:#585858;font-size:15px;font-weight:700}

.videos-wrap{background:#4a4a4a;padding-top:10px;}
.videos-wrap h2{color:#fff;text-align:center;text-transform:uppercase;}
.carousel-control.left,.carousel-control.right{background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}

.footer{padding:0}
.foot-note{background:#f2f2f2;padding:10px 0;font-size:14px;margin-top:15px;}
.foot-note a{color:@PrimaryBgClr;}
.foot-main{padding-top:20px;padding-bottom:20px}
.foot-main ul{margin:0;padding:0}
.foot-main ul li{list-style-type:none;margin-bottom:5px;color:@PrimaryBgClr;text-transform:uppercase;}
.foot-main ul li a{color:#666;font-size:14px;}




