
<div class="container-fluid courses-wrap">
<div class="container">
  <div class="row">
    <!--detail-left starts-->
    <div class="col-md-3 detail-left">
   			 <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
			</div>
			<div class="clearfix"></div>

		<div class="clearfix">&nbsp;</div>
		
		<ul>
	    <li><a href="#">about the course</a></li>
		<li><a href="#">curriculum</a></li>
		<li><a href="#">faq's</a></li>
		<li><a href="#">certifications</a></li>
		<li><a href="#">sample class recording</a></li>
		<li><a href="#">Upcoming batches</a></li>
		<li><a href="#">blogs</a></li>
	  </ul>
	  
	  <h2>popular courses</h2>
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
		</div>
	  
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
	  </div>
	  
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
	   </div>
	</div>
	<!--detail left ends-->
	
	<div class="col-md-6">

	</div>
	
	<div class="col-md-3 detail-left">
          <div class="panel-group" id="accordion">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Online Classes: 30 Hrs</a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="list-group">
                  <a href="" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
                <div class="list-group">
                  <a href="" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
                <div class="list-group">
                  <a href="" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
	  
	
      <h2>recommended courses</h2>
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
		</div>
	  
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
	  </div>
	  
	  <div class="recommended-each">
				<a href="#">
				<img src="app/assets/images/sap.png" alt="sap course">
				<div class="course-title"><a href="#">Sap</a></div>
				<div class="clearfix course-counts">
				<div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
				<div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
				</div>
				<div class="clearfix enrollbtn-wrap">
				<button class="btn enrollNow">Enroll Now</button>
				</div>
				<div class="clearfix course-bottom">
				<div class="col-md-6 learners-count"><span>500 Learners</div>
				<div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
				class="img-responsive" alt="rating"></div>
				</div>
				</a>
	   </div>
	</div>
  </div>
</div>
</div>
