

<div class="container-fluid home-banner">
 <img src="app/assets/images/banner.png">
</div>
<div class="container-fluid home-quote">
  <button class="btn freedemo-btn">free demo</button>
</div>

<h2>Recommended - Live Instructor led courses</h2>
 <!--recommended courses starts-->
<div class="container recommended">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	  <div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	  <div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	  <div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control"><img src="app/assets/images/left.png"></a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control"><img src="app/assets/images/right.png"></a>
                </div><!--.Carousel-->
		</div>
	</div>
</div>
 <!--recommended courses ends-->


           <!--popular courses starts-->
			<div class="container">
			<h2>popular courses</h2>
			<div class="row">
                  	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
					  <div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					  
                	<div class="col-md-3">
   					    <div class="recommended-each">
					      <a href="#">
					      <img src="app/assets/images/sap.png" alt="sap course">
					      <div class="course-title"><a href="#">Sap</a></div>
						  <div class="clearfix course-counts">
						  <div class="col-md-7 greenText">$ 389/- | Rs 1999.00</div>
						  <div class="col-md-5 hours"><img src="app/assets/images/hours.png" alt="hours">24 Hours</div>
						  </div>
						  <div class="clearfix enrollbtn-wrap">
						    <button class="btn enrollNow">Enroll Now</button>
						  </div>
						  <div class="clearfix course-bottom">
						  <div class="col-md-6 learners-count"><span>500 Learners</div>
						  <div class="col-md-6 course-rating"><img src="app/assets/images/rating.png"
						  class="img-responsive" alt="rating"></div>
						  </div>
					      </a>
						</div>
						<div class="clearfix"></div>
					  </div>
					</div>
					<div class="browseall"><a href="#">Browse all Courses</a></div>
					</div>
              <!--popular courses ends-->
			  
			  <div class="container-fluid features-wrap">
			    <div class="container">
			      <div class="row">
				    <div class="col-md-3">
					  <img src="app/assets/images/schedule.png">
					  <h3>Flexible Schedule</h3>
					  <p>Reschedule your Batch/Class at Your Convenience</p>
					</div>
					<div class="col-md-3">
					  <img src="app/assets/images/live.png">
					  <h3>Live Classes</h3>
					  <p>learn from your experts and get Real-Time Guidance</p>
					</div>
					<div class="col-md-3">
					  <img src="app/assets/images/support.png">
					  <h3>24 x 7 Support</h3>
					  <p>learn from your experts and get Real-Time Guidance</p>
					</div>
					<div class="col-md-3">
					  <img src="app/assets/images/expert.png">
				      <h3>Expert Instructions</h3>
					  <p>learn from your experts and get Real-Time Guidance</p>
					</div>
				  </div>
			    </div>
			  </div>
			  







