<!--login modal starts-->
<div class="modal fade access-popup bs-example-modal-lg" signup-modal tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Signup / Login to Continue</h4>
            </div>
            <div class="modal-body clearfix">
                <xt-alert values="alertOperation" ng-show="alertOperation.alertDisplay"></xt-alert>
                <div class="col-md-6">
                    <div class="col-md-12"><h2>Signup</h2></div>
                    <form id="signup-form" role="form">
                        <div class="form-group col-md-6">
                            <input type="text" name="firstname" id="firstname" tabindex="1" title="Enter first name" class="form-control" placeholder="Firstname" value="" ng-model="firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" name="lastname" id="lastname" tabindex="1" title="Enter last name" class="form-control" placeholder="Lastname" ng-model="LastName">
                        </div>
                        <div class="form-group col-md-12">
                            <select class="form-control" ng-model="usercountry" tabindex="1" ng-options="item.countryid as item.countryname for item in countryitems">
                                <option value="">Select country</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email address" ng-model="emailAddress">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder="Password" ng-model="userPassword">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="password" name="confirm password" id="cpassword" tabindex="1" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="mobile" id="mobile" tabindex="1" class="form-control" placeholder="Mobile number" ng-model="mobileNumber">
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" name="login-submit" id="signup-submit" tabindex="1" class="form-control btn btns col-md-12" value="Signup" ng-click="signup()">
                            </div>
                        </div>
                    </form>
                </div>
                <!--login form starts-->
                <div class="col-md-6">
                    <div class="col-md-12"><h2>Existing Users</h2></div>
                    <form id="signup-form" role="form">
                        <div class="form-group col-md-12">
                            <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email address" ng-model="loginUserName">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder="Password" ng-model="loginPassword">
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" name="login-submit" id="signup-submit" tabindex="1" class="form-control btn btns col-md-12" value="LogIn" ng-click="signin()">
                            </div>
                        </div>
                        <div class="forgot col-md-12" data-dismiss="modal">Forgot Password <a ui-sref="home.forgotpassword">click here</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--login modal ends-->


<div class="container header">
    <div class="row">
        <div class="col-md-3 logo"><a ui-sref="home.offerings"><img src="app/assets/images/logo.png" alt="XoomTrainings logo"></a></div>
        <div class="col-md-9">
            <ul>
                <li><label>US: +1-323232222</label></li>
            </ul>

            <ul class="hide">
                <li><a href="#">Courses</a></li>
                <li><a href="#" ng-click="checkout(cartItems)">Cart <img src="app/assets/images/cart.png" alt="cart icon" /><span>{{cartItems}}</span></a></li>
                <li ng-show="!userloggedin"><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Signin/Signup</a></li>
                <li ng-show="userloggedin">
                    <div class="btn-group" dropdown>
                        <div class="dropdown-toggle" dropdown-toggle>
                            <a href="#">Welcome, {{fullname}} &nbsp;<i class="fa fa-chevron-down"></i></a>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref='home.mydetails'>Manage Account</a></li>
                            <li><a href="#" ng-click="signout()">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="container-fluid menu-wrap">
    <nav class="navbar">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav col-md-2">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><img src="app/assets/images/menuicon.png" alt="menuicon">Browse Courses</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"> Data Warehouse Technologies</a></li>
                            <li><a href="#"> Microstrategy</a></li>
                            <li><a href="#"> PEGA</a></li>
                            <li><a href="#"> SAP</a></li>
                            <li><a href="#"> Oracle</a></li>
                            <li><a href="#"> Microsoft</a></li>
                            <li><a href="#"> Database</a></li>
                            <li><a href="#"> Big Data</a></li>
                            <li><a href="#"> Testing Tools</a></li>
                            <li><a href="#"> JAVA</a></li>
                            <li><a href="#"> Mobile Applications</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
        
            </div>
        </div>
    </nav>
</div> -->

<div ui-view></div>

<div class="container-fluid foot-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>courses</li>
                    
                    <li><a href="#">data warehouse technologies</a></li>
                    <li><a href="#">microstrategy</a></li>
                    <li><a href="#">pega</a></li>
                    <li><a href="#">sap</a></li>
                    <li><a href="#">oracle</a></li>
                    <li><a href="#">microsoft</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>&nbsp;</li>
                    <li><a href="#">database</a></li>
                    <li><a href="#">big data</a></li>
                    <li><a href="#">testing tools</a></li>
                    <li><a href="#">java</a></li>
                    <li><a href="#">mobile applications</a></li>
                    <li><a href="#">other courses</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>reach out to us 27x7</li>
                    <li>For courses related info: </li>
                    <li>+1-610-686-8077 (US toll free)</li>
                    <li> Email us:   course@xoomtrainings.com</li>
                    <li>For Support: </li>
                    <li> +91-404-018-3355 (India)</li>
                    <li>Email us:  contact@xoomtrainings.com</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>CONNECT WITH US</li>
                    <a class="youtube pop-upper" title="share with: youtube" href="https://www.youtube.com/channel/UCcUqQgMe_uXB6WkgibwTz4g" target="_blank"> <img src="app/assets/images/youtube.png" alt="youtube"> </a>
                    <a class="google-plus pop-upper" title="share with: google-plus" href="https://plus.google.com/u/0/110513710630949570051/posts" target="_blank"> <img src="app/assets/images/google-plus.png" alt="google-plus"></a>
                    <a class="facebook pop-upper" title="share with: facebook" href="https://www.facebook.com/pages/Xoom-Trainings/436960616453388?fref=ts" target="_blank"> <img src="app/assets/images/facebook.png" alt="facebook"> </a>
                    <a class="twitter pop-upper" title="share with: twitter" href="https://twitter.com/xoomtrainings" target="_blank"> <img src="app/assets/images/twiter.png" alt="twiter"> </a>
                    <a class="linkedin pop-upper" title="share with: linkedin" href="https://www.linkedin.com/in/xoomtrainings" target="_blank"> <img src="app/assets/images/linkedin.png" alt="linkedin"> </a>
                </ul>
            </div>
        </div> 

        <div class="row ">
           <div class="col-md-12 text-center"> 100% Secure Payments. All major credit &#38; debit cards accepted Or Pay by Paypal. </div>
           <div class="col-md-12 text-center"> <img src="app/assets/images/debit.png" alt="debit"> </div>
       </div>


   </div>
</div> 


<div class="foot-copyright text-center">
   <div class="col-md-12"> 2014 - 2015 Xoom Trainings powered by Innovin IT Solutions Pvt. LTD.. All Rights Reserved. &nbsp; &nbsp;
     <a href="#">TERMS &#38; CONDITIONS</a> &nbsp;   
     <a href="#">PRIVACY POLICY</a>  &nbsp;  
     <a href="#">ABOUT US</a>   &nbsp; 
     <a href="#">CAREERS </a>  &nbsp;   
     <a href="#">CONTACT US</a> 
 </div>
</div>



<!--sticky footer start-->
<!--   <div class="navbar navbar-default navbar-fixed-bottom hidden-sm hidden-xs">
  
     <div class="container">
     
     
     <div class="col-md-6"> 
      <i class="fa fa-phone-square "></i> &nbsp;  &nbsp;USA : +1-610-686-8077 &nbsp;  &nbsp;or&nbsp;  &nbsp; India: +91-404-018-3355
      </div>
      <div class="col-md-4 col-md-offset-2"> 
      <i class="fa fa-envelope "></i> &nbsp; &nbsp; E-mail:contact@xoomtrainings.com
      </div>
      
      </div>
      
  </div> -->

